

/********GENARAL SYLES*********/

body{
	font-family: "Tahoma", sans-serif;
	font-size: 9px;
}

#wrapper{
	width: 500px;
	height: 282px;
	margin: 25px auto;
	background-color: #e5ffff;
}

header{
	width: 350px;
	height: 30px;
	float: left;
}

#laptops{
	width: 345px;
	height: 310px;
	padding: 5px 0px 5px 5px;
	float: left;
}

#slider{
	width: 125px;
	height: 260px;
	float: right;
	margin: 5px;
	padding: 5px;
	border: 1px solid #3377ff;
}

h1{
	font-size: 1.8em;
	margin-left: 25px;
	margin-top: 5px;
	font-weight: bold;
	color: #002266;
}

/********BUTTONS SYLES*********/

button{
	width: 109px;
	height: 116px;
	border: 1px solid #3377ff;
	border-radius: 10px 10px 0px 10px;
	margin-right: 4px;
	margin-bottom: 4px;
	background-color: #e5ffff;
}

h2{
	font-size: 0.7em;
	font-weight: bold;
	float: left;
}

h3, h4{
	font-size: 0.7em;
	float: left;
}

h5{
	font-size: 0.8em;
	float: right;
	border: 1px solid #002266;
	padding: 3px;
	margin-right: -9px;
	margin-bottom: -5px;
	border-radius: 6px 0px 0px 0px;
	background-color: #002266;
	color: #b3ffff;
}

img{
	margin-top: 4px;
	margin-bottom: 2px; 
	width: 80px;
	height: auto;
}

/********SLIDERS SYLES*********/

#slider>label>input{
	width: 125px;
	margin-left: 0;
	margin-right: 0;
}

#slider>label{
	font-size: 1.1em;
    margin-left: 50px;
}

#slider>label>div{
	width: 130px;
	height: 10px;
	font-size: 0.7em;
}





